# ===============================
#   Gitignore by Joho
# ===============================
# Version   v0.5.0
# Author    Jonathan Ho <joho@joho.io>
# Created   17-May-2016
# Updated   23-Jul-2017
# Docs      http://git-scm.com/docs/gitignore
# ===============================




# -------------------------------
#   Project
# -------------------------------

.env
README.html

# -------------------------------




# -------------------------------
#   Jekyll
# -------------------------------

_site
.sass-cache
.jekyll-metadata

# -------------------------------




# -------------------------------
#   Ruby
# -------------------------------

*.gem
*.rbc
.rvmrc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# -------------------------------




# -------------------------------
#   Doc Cache
# -------------------------------

/.yardoc/
/_yardoc/
/doc/
/rdoc/

# -------------------------------




# -------------------------------
#   Env Normalisation
# -------------------------------

/.bundle/
/vendor/bundle
/lib/bundler/man/

# -------------------------------




# -------------------------------
#   Database/Packages
# -------------------------------

*.7z
*.csv
*.dmg
*.gz
*.iso
*.jar
*.ldf
*.log
*.mdf
*.rar
*.sql
*.sqlite
*.tar
*.zip
sql/

# -------------------------------




# -------------------------------
#   Generated & Misc
# -------------------------------

*~
*.lnk
.DS_Store*
._*
*.sublime*
~*
.Spotlight-V100
.Trashes
ehthumbs.db
packages
ignore
Thumbs.db

# -------------------------------
