<footer class="site__footer">




  <div class="container">


    <!-- Footer Navigation
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="row">

      <div class="col-sm-12">
        <p class="text-center">
          <a href="#top" class="btn btn-primary" id="btn-top" role="button">Back to top</a>
        </p>
      </div>
    </div>

    <!-- Footer Navigation –––––––––––––––––––––––––– -->




    <!-- Copyright Notice
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="row">

      <div class="col-sm-12">
      <br>

        <p class="copyright text-center">
          &copy; 2017 {{ site.title }} &middot; <a href="/privacy/">Privacy</a> &middot; <a href="/terms/">Terms</a></p>
        </p>

      </div>

    </div>

    <!-- Copyright Notice ––––––––––––––––––––––––––– -->




  </div>

</footer>
