<footer class="site__footer">




  <div class="container">

    <button class="btn btn-primary" id="btn-top" onclick="topFunction()">
      <span>Back to top</span>
    </button>


    <!-- Footer Navigation
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->


    <!-- Footer Navigation –––––––––––––––––––––––––– -->




    <!-- Copyright Notice
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="row">

      <div class="col-sm-12">
      <br>

        <p class="copyright text-center">
          &copy; 2017 {{ site.title }} &middot; <a href="/privacy/">Privacy</a> &middot; <a href="/terms/">Terms</a></p>
        </p>

      </div>

    </div>

    <!-- Copyright Notice ––––––––––––––––––––––––––– -->




  </div>

</footer>
