<footer class="site__footer">

  <div class="container">

    <button class="btn btn-primary" id="btn-top">
      <span>Back to top</span>
    </button>




    <!-- Footer Navigation
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="row">

      <div class="col-sm-12">

        <ul class="footer-nav">
          {% for item in site.data.nav.social %}
            {% assign icon = "svg/" | append: item.icon %}
            <li class="footer-nav__item">
              <a href="{{ item.path }}" alt="{{ item.title }}">
                {% include {{ icon }} %}
              </a>
            </li>
            {% include components/nav-item.html path = link.path title = link.title class_li = "footer-nav__item" %}
          {% endfor %}
        </ul>

      </div>

    </div>

    <!-- Footer Navigation –––––––––––––––––––––––––– -->




    <!-- Copyright Notice
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="row">

      <div class="col-sm-12">

        <p class="copyright text-center">
          &copy; 2017 {{ site.title }} &middot; <a href="/privacy/">Privacy</a> &middot; <a href="/terms/">Terms</a></p>
        </p>

      </div>

    </div>

    <!-- Copyright Notice ––––––––––––––––––––––––––– -->




  </div>

</footer>
