<nav class="navbar navbar-light bg-light navbar-fixed-top navbar-expand-lg" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span><img src="/images/favicon/favicon-32x32.png"> {{ site.title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-navbar" aria-controls="site-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="site-navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
