<div class="jumbotron hero-unit">

  <div class="container">

    <h1>{{ page.header.hero_header }}</h1>

    <p>{{ page.header.hero_text }}</p>

    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">{{ page.header.hero_action }}</a>
    </p>

  </div>
</div>
<!--
Double buttons:
<form class="form-inline">
  <div class="form-group">
    <button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">Call to Action</button>
  </div>
  <div class="form-group">
    <button type="getnow" name="Get Now" class="btn btn-primary btn-lg" required="required">Get Now</button>
  </div>
</form>
-->
